.title {
    font-size: 60px;
    text-align: center;
}

#randomNum {
    border: solid red;
    width:150px;
    height: 150px;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}

#current {
    border: solid gray;
    width: 150px;
    height: 150px;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}

#score {
    border: solid green;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#crystalContainer {
    border: solid blue;
    width: 550px;
    height: 200px;
    margin: 0 auto;
    
}

.crystal {
    border: solid orange;
    height: 150px;
    width: 23.5%;
    display: inline-block;

    
    
}